/node_modules
/public/hot
/public/storage
/public/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/test/screenshots
/test/videos
# OR, if you're using the default config
/cypress/screenshots
/cypress/videos
ssh siprrhh@172.16.73.111 -p 28232
