create table "personas" ("idpersona" bigserial primary key not null, "documento" integer not null, "nombre" varchar(255) not null, "apellido" varchar(255) not null, "fecha_nacimiento" date not null, "parentesco" varchar(255) null, "discapacidad" boolean not null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null, "deleted_at" timestamp(0) without time zone null);
create table "grupo_familiares" ("idgrupoFamiliar" bigserial primary key not null, "nExpediente" integer not null, "idagente" bigint not null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null, "deleted_at" timestamp(0) without time zone null);
alter table "grupo_familiares" add column "aprobado" boolean not null, add column "activo" boolean not null, add column "vencimiento" date not null;
alter table "grupo_familiares" add constraint "grupo_familiares_idagente_foreign" foreign key ("idagente") references "agente" ("idagente");
create table "grupo_familiar_personas" ("idgrupoPersona" bigserial primary key not null, "idpersona" bigint not null, "idgrupoFamiliar" bigint not null, "idtipoParentesco" bigint not null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null, "deleted_at" timestamp(0) without time zone null);
alter table "grupo_familiar_personas" add constraint "grupo_familiar_personas_idpersona_foreign" foreign key ("idpersona") references "personas" ("idpersona");
alter table "grupo_familiar_personas" add constraint "grupo_familiar_personas_idgrupofamiliar_foreign" foreign key ("idgrupoFamiliar") references "grupo_familiares" ("idgrupoFamiliar");
create table "tipo_licencias" ("idtipoLicencia" bigserial primary key not null, "codigo" integer not null, "descripcion" varchar(255) not null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null, "deleted_at" timestamp(0) without time zone null);
create table "licencias" ("idlicencia" bigserial primary key not null, "idpuesto" bigint not null, "idagente" bigint not null, "idtipoLicencia" bigint not null, "fecha_pedido_inicio" date not null, "fecha_pedido_final" date not null, "fecha_evento_inicio" date null, "fecha_evento_final" date null, "fecha_efectiva_inicio" date null, "fecha_efectiva_final" date null, "fecha_interrupcion_inicio" date null, "fecha_interrupcion_final" date null, "dias" integer null, "primer_visado" boolean null, "segundo_visado" boolean null, "tercera_visado" boolean null, "cuarta_visado" boolean null, "modalidad" varchar(255) null, "resolucion" varchar(255) null, "razon" varchar(255) null, "evento_nombre" varchar(255) null, "evento_lugar" varchar(255) null, "observacion_primera" varchar(255) null, "observacion_segunda" varchar(255) null, "observacion_tercera" varchar(255) null, "observacion_cuarta" varchar(255) null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null, "deleted_at" timestamp(0) without time zone null);
alter table "licencias" add constraint "licencias_idagente_foreign" foreign key ("idagente") references "agente" ("idagente");
alter table "licencias" add constraint "licencias_idpuesto_foreign" foreign key ("idpuesto") references "puesto" ("idpuesto");
alter table "licencias" add constraint "licencias_idtipolicencia_foreign" foreign key ("idtipoLicencia") references "tipo_licencias" ("idtipoLicencia");
create table "licencia_familiares" ("idlicenciaFamiliares" bigserial primary key not null, "idlicencia" bigint not null, "idpersona" bigint not null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null, "deleted_at" timestamp(0) without time zone null);
alter table "licencia_familiares" add constraint "licencia_familiares_idlicencia_foreign" foreign key ("idlicencia") references "licencias" ("idlicencia");
alter table "licencia_familiares" add constraint "licencia_familiares_idpersona_foreign" foreign key ("idpersona") references "personas" ("idpersona");
create table "sanciones" ("idsancion" bigserial primary key not null, "idagente" bigint not null, "resolucion" varchar(255) null, "reseña" varchar(255) null, "conclusion" varchar(255) null, "acuerdo" varchar(255) null, "expediente" varchar(255) null, "fecha_inicio" date null, "fecha_final" date null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null, "deleted_at" timestamp(0) without time zone null);
alter table "sanciones" add constraint "sanciones_idagente_foreign" foreign key ("idagente") references "agente" ("idagente");
create table "tipo_parentescos" ("idtipoParentesco" bigserial primary key not null, "codigo" integer not null, "descripcion" varchar(255) not null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null, "deleted_at" timestamp(0) without time zone null);
alter table "grupo_familiar_personas" add constraint "grupo_familiar_personas_idtipoparentesco_foreign" foreign key ("idtipoParentesco") references "tipo_parentescos" ("idtipoParentesco");
INSERT INTO public.tipo_parentescos(codigo, descripcion)
	VALUES (0,'Ninguno') ,(1,'Padre'),(2,'Madre'),(3,'Suegro'),(4,'Suegra'),(5,'Hijo'),(6,'Hija'),(7,'Yerno'),(8,'Nuera'),(9,'Abuelo'),(10,'Abuela'),(11,'Nieto'),(12,'Nieta'),(13,'Hermano'),(14,'Hermana'),(15,'Cuñado'),(16,'Cuñada'),(17,'Primo'),(18,'Prima'),(19,'Tio'),(20,'Tia'),(21,'Sobrino'),(22,'Sobrina'),(23,'Biznieto'),(24,'Biznieta'),(25,'Bisabuelo'),(26,'Bisabuela'),(27,'Conyuge');
create table "antiguedades" ("idantiguedad" bigserial primary key not null, "idagente" bigint not null, "año" integer not null, "pedido" integer not null, "disponible" integer null, "vigente" boolean not null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null, "deleted_at" timestamp(0) without time zone null);
alter table "antiguedades" add constraint "antiguedades_idagente_foreign" foreign key ("idagente") references "agente" ("idagente");
alter table "licencias" add column "parentescoFallecido" int null;
create table "licencia_saldos" ("idLicenciaSaldos" bigserial primary key not null, "idlicencia" bigint not null, "idagente" bigint not null, "año" integer null, "mes" integer null, "dias" integer null, "saldoMensual" integer null, "saldoAnual" integer null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null, "deleted_at" timestamp(0) without time zone null);
alter table "licencia_saldos" add constraint "licencia_saldos_idlicencia_foreign" foreign key ("idlicencia") references "licencias" ("idlicencia");
alter table "licencia_saldos" add constraint "licencia_saldos_idagente_foreign" foreign key ("idagente") references "agente" ("idagente");
alter table "licencia_saldos" add column "idtipoLicencia" bigint null;
alter table "agente" add column "antiguedad" bigint null;
alter table "antiguedades" add column "idusuario" bigint null;
alter table "sanciones" add column "idusuario" bigint null;
ALTER TABLE public.sanciones ALTER COLUMN expediente TYPE text;
ALTER TABLE public.sanciones ALTER COLUMN resolucion TYPE text;
ALTER TABLE public.sanciones ALTER COLUMN conclusion TYPE text;
ALTER TABLE public.sanciones ALTER COLUMN acuerdo TYPE text;
ALTER TABLE public.sanciones ALTER COLUMN reseña TYPE text;
ALTER TABLE public.licencias add COLUMN "idefector" bigint null;
